<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated generatorModel1 -->
      <package
            uri="https://github.com/mlatona/minorityReportPlugin"
            class="model.ModelPackage"
            genModel="generatorModel1.genmodel"/>
   </extension>

</plugin>
